
@import "./reset";

html, body {
  font: 400 14px "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;

  -webkit-user-select: none;
  -webkit-overflow-scrolling: auto;
  cursor: default;
  outline: none;
  background: black;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

img {
  object-fit: cover;
  display: none;
}

h1 {
  display: none;
}

p {
  display: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

main[name=app] {
  min-height: 100%;
}

#tweet-container {
  position: fixed !important;
  bottom: 0.5em;
  left: 0.5em;
  z-index: 100;
}

.fb-share-button {
  background: rgb(44, 71, 131);
  font: inherit;
  color: white;
  font-weight: bold;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  vertical-align: top;
  margin-right: 0.5em;
  border: none;
}
